<strong>Olá, {{deliveryman}}</strong>

<p>
  Existe uma nova encomenda para você, confira os detalhes abaixo:
</p>

<p>
  <strong>Produto: </strong> {{product}} <br>
  <br>
  <small>
    A encomenda já está disponível para retirada
  </small>
</p>
